@media screen and (max-width: 375px) {
    body {
        background-color: azure;
        font-size: 20px;
        margin: 20px;
    }

    h1 {
        font-size: 30px;
    }

    figure {
        padding: 20px;
    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: aqua;
        font-size: 22px;
        margin: 20px;
    }

    .img-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .columm-1 {
        display: flex;
        flex-flow: column wrap;
    }

    .columm-1 figure {
        margin-bottom: 20px;
    }

    .columm-2 {
        display: flex;
        flex-flow: column wrap;
    }

    .columm-2 figure {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1300px) {
    body {
        background-color: burlywood;
        font-size: 20px;
        margin: 35px auto;
        max-width: 950px;
    }

    h1 {
        text-align: center;
    }
}

h1 {
    font-size: 35px;
    text-align: center;
}
h2 {
    font-size: 25px;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}