h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    
}

#paragrafo{
    font-weight: 600;
    font-size: 3em;
}

#lista{
    line-height: 40px;
    text-decoration: underline;
}

#Amarelo{
    color: yellow;
}

#Vermelho{
    color: red;
}

#Marrom{
    color: brown;
}

.paragrafo-e-lista{
    background-color: blue;
    font-style: italic;

}

body{
    font-size: 16px;
}